h1{
  font-family:'Advent Pro', sans-serif;
  font-weight: bold;
  text-align: center;
}

.jumbotron{
  background: url("https://cdn.pixabay.com/photo/2012/10/12/17/17/soap-61089_960_720.jpg");
  background-position: center;
  max-width: 100%;
  max-height: 80%;
}

h4 {
  color: #000000;
  margin-top: 30px;
}
.low{
  color: #009933;
}
.high {
  color: #cd1414;
}
.meal-form {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}

img.health {
  width: 50px;
  height: 50px;
}

select {
  line-height: 25px;
}

button.button {
  pointer-events:stroke;
  margin-top:7%;
}
